* {
    margin: 0;
    padding: 0;
}

:root {
    --backgroundColor: #fff;
    --headerBgColor: #fff;
    --footerBgColor: #fff;
    --textColor: #606269;
    --font-body-family: 'Roboto', sans-serif;
    --linkColor: #5c17de;
    --visitedLinkColor: #8400db;
    --subtitlesColor: #c4c8c5;
    --titleFontSize: 3.5rem;
    --titleFontSizeh3: 1.5rem;
    --titleFontSizeh3: 1.2em;
    --bard-color-brand-text-gradient-stop-1: #4285f4;
    --bard-color-brand-text-gradient-stop-1-rgb: 66, 133, 244;
    --bard-color-brand-text-gradient-stop-2: #9b72cb;
    --bard-color-brand-text-gradient-stop-2-rgb: 155, 114, 203;
    --bard-color-brand-text-gradient-stop-3: #d96570;
    --bard-color-surface: #fff;
    --cardColor: #f1f3fa;
    --cardColorHover: #e4e4e6;
    --DefaultPadding: 1em;
    --headerPadding: 3em;
    --commentColor: #0a930a;
}

html {
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    scroll-behavior: smooth;
}

.onlyMobile {
    display: none;
}

.hidden {
    display: none;
}

.srOnly {
    position: absolute;
    left: -9999em;
}

a:link {
    text-decoration: underline;
    color: var(--linkColor);
}

a:visited {
    color: var(--visitedLinkColor);
}

ul {
    list-style: none;
}

ul li {
    text-decoration: none;
}

.comment {
    color: var(--commentColor);
}

.comment::before {
    content: "/* ";
}

.comment::after {
    content: "*/";
}

header {
    background-color: var(--headerBgColor);
    padding: var(--headerPadding);
    overflow: hidden;
}

#argumentList {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    list-style: none;
    overflow: auto;
}

#argumentList li {
    background-color: var(--cardColor);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    padding: var(--DefaultPadding);
    margin-right: .5em;
    margin-top: .5em;
    flex-shrink: 0;
}

#argumentList li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    /* Remove underline */
    color: var(--textColor);
    /* Change color */
    cursor: pointer;
    /* Change cursor to indicate clickable */
    display: grid;
    align-content: space-between;
}

#argumentList li:hover {
    background-color: var(--cardColorHover);
}

#argumentList li .argumentIcon {
    background-color: var(--backgroundColor);
    border-radius: 50%;
    float: right;
    width: 40px;
    height: 40px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.argumentIcon.user {
    background-image: url('assets/icon/user.png');
}

.argumentIcon.chat {
    background-image: url('assets/icon/chat.png');
}

.argumentIcon.skill {
    background-image: url('assets/icon/skill-development.png');
}

.argumentIcon.project {
    background-image: url('assets/icon/layers.png');
}

.goUp {
    text-align: center;
}

h1,
h2 {
    font-size: var(--titleFontSize);
    font-weight: 500;
    line-height: normal;
}

h3 {
    font-size: var(--titleFontSizeh3);
    font-weight: 500;
    line-height: normal;
}

h5 {
    font-size: var(--titleFontSizeh5);
}

header h1 {
    background: linear-gradient(74deg, var(--bard-color-brand-text-gradient-stop-1) 0, var(--bard-color-brand-text-gradient-stop-2) 50%, var(--bard-color-brand-text-gradient-stop-3) 0%, var(--bard-color-brand-text-gradient-stop-3) 60%, var(--bard-color-brand-text-gradient-stop-2) 80%, var(--bard-color-brand-text-gradient-stop-1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

header h2 {
    color: var(--subtitlesColor);
}

main {
    margin: 0;
    padding: var(--DefaultPadding);
}

footer {
    background-color: var(--footerBgColor);
    text-align: center;
    margin-top: 1em;
    margin-bottom: 20px;
}

section {
    padding-bottom: var(--DefaultPadding);
}

section p,
section h3 {
    padding: .5em;
}

section h3 {
    white-space: nowrap;
}

dt {
    font-weight: bold;
}

dd {
    padding-left: .5em;
}

.sectionHeader {
    text-align: center;
    text-align: -webkit-center;
}

.SubSectionGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
}

.SubSectionGroup>div {
    background: var(--cardColor);
    border-radius: 10px;
    padding: var(--defaultPadding);
    flex-grow: 1;
    margin: .5em;
}

.sectionSubHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
    width: min-content;
    padding: var(--DefaultPadding)
}

.subHeaderIcon {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
}

.subHeaderIcon.school {
    background-image: url('assets/icon/graduation-cap.png');
}

.subHeaderIcon.honour {
    background-image: url('assets/icon/wreath.png');
}

.freeParagraph {
    padding: var(--DefaultPadding);
    text-align: justify;
}


/*Profile section*/

#profilePicture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.headerStudy {
    margin-left: -1em;
}

.studyPath {
    border-left: 2px solid var(--textColor);
    padding-left: 1.5em;
    margin-bottom: 1em;
    width: 200px;
}

.tag {
    background-color: #f7d48b !important;
}

.link {
    background-color: #83d5e3 !important;
}

.tag::before {
    background-image: url(assets/icon/price-tag.png);
}

.link::before {
    background-image: url(assets/icon/link.png);
}

.honourList {
    padding: var(--DefaultPadding);
}

.imageTitle {
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


/*SKILL SECTION*/

.SectionDefault {
    text-align: -webkit-center;
}

#skillsImage {
    background-image: url(assets/icon/skills.gif);
}

.headerSectionDefault {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: .5em;
    width: min-content;
}

button {
    background-color: #e3e2ed;
    border-radius: 5px;
    padding: .7em;
    margin: 1em;
    border: 0;
    width: 200px;
}

#skillsContainer {
    background-color: var(--backgroundColor);
}

.skillCard {
    background-color: var(--cardColor);
    padding: var(--DefaultPadding);
    margin: .5em;
    border-radius: 10px;
    max-width: 700px;
    text-align: left;
}

#categories {
    background: none;
}

.skills ul {
    text-align: left;
    padding: var(--DefaultPadding);
}

.skills li,
.tecUsed,
.tag,
.link {
    background-color: #e3e2ed;
    border-radius: 5px;
    padding: .2em;
    margin: .2em;
    display: inline-block;
    padding-right: .5em;
    padding-left: .5em;
}

.skills li:hover {
    transform: scale(1.05);
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s;
}

.iconBefore::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: .3em;
    background-size: contain;
    background-repeat: no-repeat;
}

#webdevButton::before {
    background-image: url(assets/icon/domain.png);
}

#ProgrammingdevButton::before {
    background-image: url(assets/icon/coding.png);
}

#softwareButton::before {
    background-image: url(assets/icon/scrum.png);
}

#OtherdevButton::before {
    background-image: url(assets/icon/skill-development.png);
}

#LangButton::before {
    background-image: url(assets/icon/language.png);
}

.italy::before {
    background-image: url(assets/icon/pinched-fingers.png);
}

.english::before {
    background-image: url(assets/icon/english.png);
}

.skillCard dd {
    padding-left: 2.5em;
}


/*Projects*/

#ProjectsImage {
    background-image: url(assets/icon/layers.png);
}

.subHeaderIcon.accademics {
    background-image: url('assets/icon/graduation.png');
}

.projectsDivider {
    text-align: left;
}

.projectTitle {
    font-size: large;
    padding-bottom: 1em;
}

.topDivider {
    border-top: 2px solid var(--textColor);
    margin-top: 1em;
    padding-top: 1em;
}

.projectImage {
    width: 100%;
    max-width: 400px;
    padding-top: var(--DefaultPadding);
    display: inline;
}

.projectImageContainer {
    text-align: -webkit-center;
}


/*SOCIAL MEDIA*/


/*
Social media box
*/

#ContactImage {
    background-image: url(assets/icon/contact.png);
}

.socialMedia_sub {
    background: #e9eff0;
    border-radius: 12px;
    width: 90vw;
    height: 500px;
    position: relative;
    top: -100px;
}

.socialMediaDIV {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px;
}

.socialMediaDIV::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background: transparent;
}

.socialMediaDIV::-webkit-scrollbar-track {
    background-color: transparent;
}

.socialMediaDIV::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #e1b629;
}

.socialMediaBox {
    background: #dce3e8;
    height: 150px;
    width: 150px;
    text-align: -webkit-center;
    border-radius: 50px;
    transition: .5s;
    box-shadow: 0 5.1px 5.8px -19px rgba(0, 0, 0, 1), 0 11.1px 13.3px -19px rgba(0, 0, 0, 1), 0 18.6px 23.6px -19px rgba(0, 0, 0, 0.06), 0 29px 39.9px -19px rgba(0, 0, 0, 0.072), 0 45.9px 70.6px -19px rgba(0, 0, 0, 0.086), 0 92px 159px -19px rgba(0, 0, 0, 0.12);
}

.socialMediaBox:hover {
    transform: scale(1.05);
    box-shadow: 2.7px 6px 2.2px rgba(0, 0, 0, 0.042), 6.5px 14.4px 5.3px rgba(0, 0, 0, 0.061), 12.1px 27.2px 10px rgba(0, 0, 0, 0.075), 21.7px 48.5px 17.9px rgba(0, 0, 0, 0.089), 40.5px 90.7px 33.4px rgba(0, 0, 0, 0.108), 97px 217px 80px rgba(0, 0, 0, 0.15);
}

.socialMediaBox img {
    width: 50%;
    position: relative;
    top: 25%;
}

.boxAccount {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.accountName {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.5em;
    text-align: center;
    padding-top: 5px;
}

.instagram {
    background: -webkit-linear-gradient(left, #7f59b9, #c4436d, #dc8e42);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.facebook {
    background: -webkit-linear-gradient(left, #2f5bc5, #8e5bbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gmail {
    background: -webkit-linear-gradient(left, #4285f3, #c53330, #ea453c, #febd53, #42ac48);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subjectProgress .title {
    display: block;
    color: #000;
    font-weight: 900;
    font-size: 2em;
    font-family: system-ui;
    text-align: left;
    padding: 30px;
}

.subjects {
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
}

.subject {
    margin: 10px;
    background: #dce3e8;
    height: 300px;
    min-width: 350px;
    position: relative;
    border-radius: 20px;
    transition: .5s;
}

.subjects .icon {
    display: block;
    width: 25%;
    margin: 30px;
}

.subjects .icon img {
    width: 100%;
}

.socialMedia_sub .info_1 {
    padding: 10px;
    width: 90%;
    font-weight: 700;
    position: relative;
    left: 5%;
    font-size: .9em;
}

.socialMedia_sub .info_2 {
    color: #8a9194;
    font-size: .7em;
    font-weight: 600;
    display: inline-flex;
    padding-left: 10px;
    width: 90%;
    position: relative;
    left: 5%;
}

.socialMedia_sub .bollino {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
}

.progress {
    padding-left: 10px;
    width: 90%;
    position: relative;
    left: 5%;
}

.progress progress {
    width: 100%;
    height: 15px;
    border-radius: 10px;
}

.html progress::-moz-progress-bar {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    ;
}

.html progress::-webkit-progress-value {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    border-radius: 10px;
}

.css progress::-moz-progress-bar {
    background: linear-gradient(to right, #0575e6, #021b79);
    ;
}

.css progress::-webkit-progress-value {
    background: linear-gradient(to right, #0575e6, #021b79);
    border-radius: 10px;
}

.js progress::-moz-progress-bar {
    background: linear-gradient(to right, #fffc00, #ffffff);
    ;
}

.js progress::-webkit-progress-value {
    background: linear-gradient(to right, #fffc00, #ffffff);
    border-radius: 10px;
}

.node progress::-moz-progress-bar {
    background: linear-gradient(to right, #56ab2f, #a8e063);
    ;
}

.node progress::-webkit-progress-value {
    background: linear-gradient(to right, #56ab2f, #a8e063);
    border-radius: 10px;
}

.php progress::-moz-progress-bar {
    background: linear-gradient(to right, #834d9b, #d04ed6);
    ;
}

.php progress::-webkit-progress-value {
    background: linear-gradient(to right, #834d9b, #d04ed6);
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background: #d7d7d8;
    border-radius: 10px;
}


/*
Social media box
*/


/* Stili per schermi di larghezza massima 600px */

@media only screen and (max-width: 850px) {
    .onlyMobile {
        display: block;
    }
    .projectImage {
        display: block;
    }
}


/* Stili per schermi mobile */

@media only screen and (max-width: 480px) {
     :root {
        --headerPadding: 1.5em;
        --titleFontSize: 2.5rem;
        --titleFontSizeh3: 1.5rem;
    }
}


/* Stili per schermi di larghezza superiore a 1024 */

@media only screen and (min-width: 1024px) {}